<NoticeBar
*ngIf="!isMobile"
style="margin-bottom: 10px"
[option]="{ content: '该组件只支持Touch事件，请使用移动模式/设备打开此页。', marqueeProps: { fps: 100 } }"
></NoticeBar>
<!-- <div Button (onClick)="onClick()">刷新闻咯: {{ state.directionName }}</div> -->
<PullToRefresh
[ngStyle]="dtPullToRefreshStyle"
[direction]="state.direction"
[(ngModel)]="state.refreshState"
[endReachedRefresh]="state.endReachedRefresh"
(onRefresh)="pullToRefresh($event)"
>

<a style="text-decoration: none;" *ngFor="let i of this.state.data" routerLink="/news/detail/{{List[i].id}}"  >

    <div *ngIf="List.length > i "  class="newsList" > 
        <div  class="text">{{List[i].title}}{{i}}

            <div class="news-time">{{List[i].date}}</div>
        </div>
        <div class="img"><img height="100%" width="100%"  src="{{List[i].img}}" alt=""> </div>
    </div>
    <div style="clear: both;"></div>


</a>

</PullToRefresh>

<ng-template #loading>
<Icon style="z-index: 999;" type="loading"></Icon>
</ng-template>