
<div  style="background-color: bisque;height: 2000px;">
    <h1>使用过程中如果遇到任何问题请联系邮箱</h1>
    <p>wuhan905284451@outlook.com</p>


    <h1>Powered By </h1>
    <!-- <h2>Angular</h2> -->
    <img src="https://redis.io/images/redis-white.png" alt="">
    <img style="width: 60px;" src="https://labs.mysql.com/common/logos/mysql-logo.svg?v2" alt="">
    <img style="height: 60px;" src="https://angular.cn/assets/images/logos/angular/angular.svg" alt="">
    <!-- <h1>TypeScript</h1> -->
    <img  style="margin: 10px solid black; height: 80px;padding: 10px solid black;" src="https://www.tslang.cn/assets/images/logo.svg" alt="">
    <!-- <h2>Spring</h2> -->
    <div></div>
    <img style="margin-top: 10px; height: 90px;" src="https://spring.io/images/spring-logo-9146a4d3298760c2e7e49595184e1975.svg" alt="">
    
    <div></div>
    <img style="margin-top: 10px;margin-left: 100px;" src="https://gw.alicdn.com/tfs/TB18WVWJpzqK1RjSZSgXXcpAVXa-106-120.svg" alt="">


    <img style="width: 100px;" src="http://maven.apache.org/images/maven-logo-black-on-white.png" alt="">
    <img style="width: 100px;" src="http://nginx.org/nginx.png" alt="">
    <img style="margin-left: 10px;" src="https://tomcat.apache.org/res/images/tomcat.png" alt="">


    <h1 class="start-gradient">Created By Appleweir From Parabolic studio</h1>
</div>