<p>personal-center works!</p>
<h1 style="color: rebeccapurple;">
    欢迎您<p>{{username}}</p>
    个人中心建设中。。。。。
</h1>

<div *ngIf="sno==0">
    <h1 style="color: rebeccapurple;">麻烦先登录一下来使用个人中心哈。。。。。</h1>

    <!-- <WingBlank>
        <WhiteSpace></WhiteSpace>
        <div Button (onClick)="showAlert()">customized buttons</div>
        <WhiteSpace></WhiteSpace>
        <div Button (onClick)="showAlertMuchButtons(message)">More than two buttons</div>
        <WhiteSpace></WhiteSpace>
  
        <ng-template #message>
          <div>More than two buttons</div>
        </ng-template>
  
        <div Button (onClick)="showPromise()">promise</div>
        <WhiteSpace></WhiteSpace>
      </WingBlank> -->
</div>