<!-- <h1 style="color: rebeccapurple;">
  <p>欢迎您{{username}}</p>
    个人中心建设中。。。。。
</h1> -->

<div *ngIf="sno==0" style="height: 1000px;background-color: black;">
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
    <h1  style="color: rebeccapurple; text-align: center;">麻烦先登录一下</h1>
</div>
<h1 style="color: rebeccapurple; text-align: center;">
  <p>欢迎您{{username}}</p>
</h1>
<WingBlank>

  <WhiteSpace></WhiteSpace>
  <div Button (onClick)="showLogin()">修改密码</div>
  <WhiteSpace></WhiteSpace>
</WingBlank>
