<!-- <div> -->


    <!-- <ul [@carousel]='state'> -->
        <!-- <li class='imgP' *ngFor='let img of imgs' (mouseenter)='stop()' (mouseleave)='start()'> -->
            <!---->
            <!-- <div *ngIf='img.state'>
                <img [src]="img.name" width='100%' height='150px'>
            </div>
        </li>

    </ul> -->
    <!-- <div class='container'> -->
        <!-- <div class='btn' (mouseenter)='stop()' (mouseleave)='start()'>
            <input type="button" value="back" (click)="back()">
        </div> -->
        <!-- <div class='circle' [class.color]='img.state' *ngFor='let img of imgs' (mouseenter)="circleEnter(img.id)"
            (mouseleave)='circleLeave()'>
        </div> -->
        <!-- <div class='btn' (mouseenter)='stop()' (mouseleave)='start()'>
            <input type="button" value="go" (click)="go()">
        </div> -->
    <!-- </div>

</div> -->

<div>
    <img  style="width: 100%;" [src]="img2" alt="">
</div>